body {
  margin: 0 0 15px 0;
  font-family: Prelo Light, serif;
}

.medium-div {
  width: 50%;
}

.width-40 {
  width: 40px;
}

.width-60 {
  width: 60px;
}

.title {
  font-size: larger;
}

.padding-title {
  padding-bottom: 15px !important;
}

.text-bold {
  font-weight: bold;
}

.center-container {
  padding: 0 40%;
}



.center-book-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  pichincha-button {
    margin: 5px;
  }
}

.div-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.view-book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.view-book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.view-book-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .width-60 {
    margin-right: 30px;
    font-weight: bold;
  }
}
